@charset "UTF-8"; /* Declaração de caracteres no padrão UTF-8*/

@import url('https://fonts.googleapis.com/css?family=Titillium+Web&display=swap'); /*Importação de uma fonte do Google Fonts para ser utiliza no subtítulo da página home "A revolução do Google está chegando"*/

/*Utilização de uma fonte interna que está na pasta "fontes" do projeto do Google Glass para ser utilizada no título principal*/
@font-face { 
    font-family: FonteLogo;
    src: url("../_fonts/bubblegum-sans-regular.otf")
}

/*-----------------------------------------------------------------------------*/

/*Formataçao da área body que é responsável pela aparência da página. Abaixo temos a formatação da cor que a área body terá*/
body { 
    font-family: Arial, sans-serif;
    background-color: #dddddd;
    color: rgba(0, 0, 0, 1);
}


/* Formatação da interface div que vai delimitar o site*/
div#interface { 
    width: 1200px; /*Delimitando a largura*/
    background-color: #ffffff;
    margin: -20px auto 0px auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .5);
    padding: 20px;
}

p { /* Formatação de todos os parágrafos*/
    text-align: justify;
    text-indent: 50px;
}

a {
    color: #606060;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/*Formatação da imagem do óculos no ínicio da página*/
header#cabecalho img#icone { 
    position: absolute;
    left: 1200px;
    top: 70px;
}

/*Configurações comportamentais e visuais do cabeçalho*/
header#cabecalho {
    border-bottom: 1px #606060 solid; /*largura da borda do botão, cor e formato da borda*/
    height: 138px; /**/
    background: url("../_imagens/glass-logo-peq.jpg") no-repeat -5px 80px;
}

/* Configurações de estilo e comportamento do título principal da página home*/
header#cabecalho h1 { 
    font-family: FonteLogo, sans-serif;
    font-size: 30pt;
    color: #606060;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .6);
    padding: 0px;
    margin-bottom: 0px;
}

 /* Configurações de estilo e comportamento do subtitítulo principal da página home */
header#cabecalho h2 {
    font-family: 'Titillium Web', sans-serif;
    color: #888888;
    font-size: 15pt;
    padding: 0px;
    margin-top: 0px;
}

/*-----------------------------------------------------------------------------*/

/* Formatação de imagens com legendas */
figure.foto-legenda {
    position: relative;
    border: 8px solid white;
    box-shadow: 1px 1px 4px black;
    
}

figure.foto-legenda img {
    width: 100%;
    height: 100%;
}

figure.foto-legenda figcaption {
    opacity: 0;
    position: absolute;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    width: 100%;
    height: 100%; 
    padding: 10px;
    box-sizing: border-box;
    transition: opacity 1s;
}

figure.foto-legenda:hover figcaption {
    opacity: 1;
}

/*-----------------------------------------------------------------------------*/

/*Formatação do Menu*/
nav#menu {
    display: block;
}

/*Definindo configurações comportamentais da lista não ordenada de menu principal*/
nav#menu ul { 
    list-style: none; /*Tira as bolinhas pretas da lista nao ordenada*/
    text-transform: uppercase; /*Faz com que as letras da lista fiquem em maúsculo*/   
    position: absolute;
    top: -20px;
    left: 685px;
}

/*Definição da formatação da lista não ordenada de menu principal*/
nav#menu li { 
    display: inline-block;
    background-color: #dddddd;
    padding: 12px;
    margin: 5px;
    transition: background-color 1s;
}

/*Formatação de transição para a lista de menu principal sempre que estiver ativa com o cursor do mouse*/
nav#menu li:hover { 
    background-color: #606060;
}

nav#menu h1 { 
    display: none;
}

/*-----------------------------------------------------------------------------*/

/*Formatação de todos os links*/
nav#menu a { 
    color: #000000;
    text-decoration: none;
}

/*Configurações do link quando está ativo sobre o mouse*/
nav#menu a:hover { 
    color: white;
    text-decoration: underline;
}

/*-----------------------------------------------------------------------------*/

/*Formatação do estilo do corpo que o site terá dentro da tegue section com id=corpo*/
section#corpo { 
    display: block;
    width: 680px;
    float: left;
    border-right: 1px solid #606060;
    padding-right: 40px;
}

/*Formatação do estilo do texto que ficará na barra lateral da página inicial*/
aside#lateral { 
    display: block;
    width: 440px;
    float: right;
    background-color: #dddddd;
    padding: 11px;
    margin-top: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .5);
}

aside#lateral h1 {
    font-family: FonteLogo, sans-serif;
    font-size: 20pt;
    color: #606060;
    margin-top: 0px;
}

aside#lateral h2 {
    background-color: #606060;
    font-size: 13pt;
    color: #ffffff;
    padding: 5px;
}

/*Configurações comportamentais do rodapé da página principal*/
footer#rodape { 
    clear: both;
    border-top: 1px solid #606060;
}

/*Configuração de formatação do texto dentro do rodapé que é um parágrafo*/
footer#rodape p {
    text-align: center;
}

article#noticia-principal h2 {
    font-size: 13pt;
    color: #606060;
    background-color: #dddddd;
    padding: 5px 0px 5px 10px;
    margin: 10px 0px 10px 0px;
}

header#cabecalho-artigo h1 {
    font-family: FonteLogo, sans-serif;
    font-size: 20pt;
    color: #606060;
    margin-bottom: 0px;
    margin-top: 0px;
}

header#cabecalho-artigo h2 {
    font-size: 13pt;
    color: #cecece;
    background-color: #ffffff;
    margin: 0px;
}

header#cabecalho-artigo h3 {
    font-size: 12px;
    color: #606060;
}

.direita {
    text-align: right;
}
/*-----------------------------------------------------------------------------*/

/*Formatação da tabela da página inicial*/
table#tabelaspec {
    border: 1px solid #606060;
    border-spacing: 0px;
    margin-left: auto;
    margin-right: auto;
}

 /*Formatação das células dentro da tabela*/
table#tabelaspec td {
    border: 1px solid #606060;
    padding: 10px; /*Tamanho da espessura da tabela*/
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
}

/*Formtação das células que estão a esquerda na tabela da página principal*/
table#tabelaspec td.coluna_esquerda {
    color: #ffffff;
    background-color: #606060;
    vertical-align: top;
}

/*Formtação das células que estão a direita na tabela da página principal*/
table#tabelaspec td.coluna_direita {
    background-color: #cecece;
}

table#tabelaspec caption {
    color: #888888;
    font-size: 13pt;
    font-weight: bolder;
}

table#tabelaspec caption span {
    display: block;
    float: right;
    color: black;
    font-size: 8pt;
    margin-top: 10px;
}

/*-----------------------------------------------------------------------------*/



